*
{
  outline: 1px solid green;  
  
  
}

html{
    
}

#navbar
{
    background-color: #1F2937;
    height: 100px;
    border: 3px solid white;
    border-radius: 10px;
}

#navbar-image
{
    height: 30px;
}

#heroSection 
{
    background-color: #1F2937;
}


